<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @screenplay.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @screenplay.body %>
</p>

<%= link_to 'Edit', edit_screenplay_path(@screenplay) %> |
<%= link_to 'Back', screenplays_path %>
