<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Partner</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= partners_path %>">Baza partnerów</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Partner</strong>
      </li>
    </ol>
  </div>
</div>

<%= flash_messages %>

<div class="ibox">
  <div class="ibox-title">
    <h3>Partner</h3>
    <div class="ibox-tools">
      <%= link_to partners_path, class: "btn btn-sm btn-primary" do %>
      Wróć
      <% end %>
      <%= link_to edit_partner_path(@partner), class: "btn btn-sm btn-primary" do %>
      Edytuj
      <% end %>
    </div>
  </div>
  <div class="ibox-content">
    <p>
      <strong>Nazwa:</strong>
      <%= @partner.name %>
    </p>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Scenariusze</h3>
    <div class="ibox-tools">
      <%= link_to "Dodaj scenariusz", new_screenplay_path(partner_id: @partner.id), class: "btn btn-primary" %>
    </div>
  </div>
  <div class="ibox-content">
    <table class=table>
      <tr>
        <th>#id</th>
        <th>Nazwa</th>
        <th>Treść</th>
        <th width="150">Opcje</th>
      </tr>
      <% @partner.screenplays.each do |screenplay| %>
      <tr>
        <td><%= screenplay.id %></td>
        <td><%= screenplay.name %></td>
        <td><%= screenplay.body %></td>
        <td>
          <%= link_to "Edytuj", edit_screenplay_path(screenplay), class: "btn btn-mini btn-warning" %>
          <%= link_to 'Usuń', screenplay, class: "btn btn-mini btn-danger", method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć to pytanie?' } %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<%= content_for :searchbar do %>

<% end %>
