<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Użytkownicy</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Użytkownicy</strong>
      </li>
    </ol>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Użytkownicy</h3>
    <div class="ibox-tools">
      <%= link_to new_user_path, class: "btn btn-sm btn-primary" do %>
      <i class="fa fa-plus"></i> Dodaj użytkownika
      <% end %>
    </div>
  </div>
  <div class="ibox-content">
    <table class="table">
      <thead>
        <tr>
          <th><%= sort_link(@q, :id, "ID") %></th>
          <th><%= sort_link(@q, :email, "Email") %></th>
          <th><%= sort_link(@q, :name, "Nazwisko") %></th>
          <th>Dostępy</th>
          <th><%= sort_link(@q, :updated_at, 'Data zmian') %></th>
          <th width="200">Opcje</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= link_to "##{user.id}", user %></td>
          <td><%= link_to user.email, user %></td>
          <td><%= link_to user.name, user %></td>
          <td>
            <% if user.manage_users %>
              <span class="badge badge-primary">Użytkownicy</span>
            <% else %>
              <span class="badge badge-danger">Użytkownicy</span>
            <% end %>
            <% if user.manage_agreements %>
              <span class="badge badge-primary">Umowy</span>
            <% else %>
              <span class="badge badge-danger">Umowy</span>
            <% end %>
            <% if user.manage_calls %>
              <span class="badge badge-primary">Rozmowy</span>
            <% else %>
              <span class="badge badge-danger">Rozmowy</span>
            <% end %>
            <% if user.manage_clients %>
              <span class="badge badge-primary">Klienci</span>
            <% else %>
              <span class="badge badge-danger">Klienci</span>
            <% end %>
            <% if user.manage_events %>
              <span class="badge badge-primary">Zdarzenia</span>
            <% else %>
              <span class="badge badge-danger">Zdarzenia</span>
            <% end %>
            <% if user.manage_partners %>
              <span class="badge badge-primary">Partnerzy</span>
            <% else %>
              <span class="badge badge-danger">Partnerzy</span>
            <% end %>
            <% if user.manage_reminders %>
              <span class="badge badge-primary">Przypomnienia</span>
            <% else %>
              <span class="badge badge-danger">Przypomnienia</span>
            <% end %>
            <% if user.manage_screenplays %>
              <span class="badge badge-primary">Scenariusze</span>
            <% else %>
              <span class="badge badge-danger">Scenariusze</span>
            <% end %>
            <% if user.manage_leads %>
              <span class="badge badge-primary">Leady</span>
            <% else %>
              <span class="badge badge-danger">Leady</span>
            <% end %>
          </td>
          <td><%= link_to user.updated_at, user %></td>
          <td>
            <%= link_to 'Pokaż', user, class: "btn btn-sm btn-primary" %>
            <%= link_to 'Edytuj', edit_user_path(user), class: "btn btn-sm btn-warning" %>
            <%= link_to 'Usuń', user, method: :delete, data: { confirm: 'Czy na pewno usunąć?' }, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>
</div>

<%= content_for :searchbar do %>
<%= search_form_for @q, class: "navbar-form-custom" do |f| %>
<div class="form-group">
  <%= f.search_field :email_cont, placeholder: "Wyszukaj użytkownika", id: "top-search", class: "form-control" %>
</div>
<% end %>
<% end %>
