<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= @user.email %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= users_path %>">Użytkownicy</a>
      </li>
      <li class="breadcrumb-item active">
        <strong><%= @user.email %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Dane użytkownika</h3>
    <div class="ibox-tools">
      <%= link_to 'Edycja', edit_user_path(@user), class: "btn btn-sm btn-primary" %>
      <%= link_to 'Cofnij', users_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-sm-4">
        <p>
          <strong>Email</strong><br />
          <%= @user.email %>
        </p>
        <p>
          <strong>Nazwisko</strong><br />
          <%= @user.name %>
        </p>
        <p>
          <strong>Stanowisko</strong><br />
          <%= @user.position %>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <strong>Ostatnie zalogowanie</strong><br />
          <%= @user.last_sign_in_at %>
        </p>
        <p>
          <strong>Data utworzenia</strong><br />
          <%= @user.created_at %>
        </p>
        <p>
          <strong>Data modyfikacji</strong><br />
          <%= @user.updated_at %>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <strong>Dostępy do systemu</strong><br />
          <% if @user.manage_users %>
            <span class="badge badge-primary">Użytkownicy</span>
          <% else %>
            <span class="badge badge-danger">Użytkownicy</span>
          <% end %>
          <% if @user.manage_agreements %>
            <span class="badge badge-primary">Umowy</span>
          <% else %>
            <span class="badge badge-danger">Umowy</span>
          <% end %>
          <% if @user.manage_calls %>
            <span class="badge badge-primary">Rozmowy</span>
          <% else %>
            <span class="badge badge-danger">Rozmowy</span>
          <% end %>
          <% if @user.manage_clients %>
            <span class="badge badge-primary">Klienci</span>
          <% else %>
            <span class="badge badge-danger">Klienci</span>
          <% end %>
          <% if @user.manage_events %>
            <span class="badge badge-primary">Zdarzenia</span>
          <% else %>
            <span class="badge badge-danger">Zdarzenia</span>
          <% end %>
          <% if @user.manage_partners %>
            <span class="badge badge-primary">Partnerzy</span>
          <% else %>
            <span class="badge badge-danger">Partnerzy</span>
          <% end %>
          <% if @user.manage_reminders %>
            <span class="badge badge-primary">Przypomnienia</span>
          <% else %>
            <span class="badge badge-danger">Przypomnienia</span>
          <% end %>
          <% if @user.manage_screenplays %>
            <span class="badge badge-primary">Scenariusze</span>
          <% else %>
            <span class="badge badge-danger">Scenariusze</span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= content_for :searchbar do %>

<% end %>
