
<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :imie %>
    <%= f.input :nazwisko %>
    <%= f.input :numer_telefonu %>
    <%= f.input :email %>
    <%= f.input :miasto %>
    <%= f.input :kod %>
    <%= f.input :adres %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Zapisz", class: "btn btn-primary" %>
  </div>
<% end %>
