<div class="ibox">
  <div class="ibox-title">
    <h3>Informacje</h3>
    <div class="ibox-tools">
      <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editInfoModalCenter">
        <i class="fa fa-edit"></i> Edytuj
      </button>
    </div>
  </div>
  <div class="ibox-content">
    <p>
      <strong>Imie:</strong>
      <%= @client.imie %>
    </p>

    <p>
      <strong>Nazwisko:</strong>
      <%= @client.nazwisko %>
    </p>

    <p>
      <strong>Numer telefonu:</strong>
      <%= @client.numer_telefonu %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @client.email %>
    </p>

    <p>
      <strong>Miasto:</strong>
      <%= @client.miasto %>
    </p>

    <p>
      <strong>Kod:</strong>
      <%= @client.kod %>
    </p>

    <p>
      <strong>Adres:</strong>
      <%= @client.adres %>
    </p>
  </div>
</div>
