<div class="ibox">
  <div class="ibox-title">
    <h3>Historia</h3>
    <div class="ibox-tools">
    </div>
  </div>
  <div class="ibox-content">
    <div id="vertical-timeline" class="vertical-container dark-timeline">
      <% @client.events.order(created_at: :desc).each do |event| %>
      <div class="vertical-timeline-block">
        <div class="vertical-timeline-icon <%= event_color(event) %>">
          <i class="<%= event_icon(event) %>"></i>
        </div>

        <div class="vertical-timeline-content">
          <h2><%= event.name %></h2>
          <p>
            <%= event.body %>
          </p>
          <%= event_link(event) %>
          <span class="vertical-date">
            <%= time_ago_in_words(event.created_at) %> temu<br>
            <small><%=event.created_at.strftime("%d/%m/%Y %H:%M") %></small>
          </span>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
