<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Rozmowa #<%= @call.id %>: <%= @screenplay.name %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= clients_path %>">Baza klientów</a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= client_path(@client) %>"><%= @client.imie %> <%= @client.nazwisko %></a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Rozmowa #<%= @call.id %>: <%= @screenplay.name %></strong>
      </li>
    </ol>
  </div>
</div>

<%= flash_messages %>

<div class="row">
  <div class="col-lg-8">
    <div class="ibox">
      <div class="ibox">
        <div class="ibox-title">
          <h3>Scenariusz</h3>
          <div class="ibox-tools">
          </div>
        </div>
        <div class="ibox-content">
          <p>
            <strong><%= @screenplay.name %></strong>
          </p>
          <p>
            <%= simple_format @screenplay.body %>
          </p>
        </div>
      </div>
      <div class="ibox">
        <div class="ibox-title">
          <h3>Rozmowa</h3>
          <div class="ibox-tools">
          </div>
        </div>
        <div class="ibox-content">
          <%= simple_format @screenplay.prelude %>
          <hr>
          <% flag = 0 %>
          <% @screenplay.questions.order(:sequence).each do |question| %>
          <p>
            <% @answer = Answer.where(question_id: question.id, call_id: @call.id).first %>
            <% if @answer.present? %>
            <%= simple_form_for(@answer) do |f| %>
            <%= f.input :call_id, as: :hidden, input_html: { value: @call.id } %>
            <%= f.input :question_id, as: :hidden, input_html: { value: question.id } %>
            <%= f.input :name, label: question.body, input_html: { placeholder: question.name } %>
            <%= f.submit "Zmień", class: "btn btn-sm btn-warning" %>
            <%= link_to 'Usuń', @answer, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Czy na pewno usunąć tą odpowiedź?' } %>
            <% end %>
            <% else %>
            <%= simple_form_for(Answer.new) do |f| %>
            <%= f.input :call_id, as: :hidden, input_html: { value: @call.id } %>
            <%= f.input :question_id, as: :hidden, input_html: { value: question.id } %>
            <% if flag == 0 %>
            <%= f.input :name, label: question.body, input_html: { placeholder: question.name } %>
            <%= f.submit "Zapisz", class: "btn btn-sm btn-primary" %>
            <% else %>
            <%= f.input :name, label: question.body, input_html: { placeholder: question.name, disabled: :true} %>
            <%= link_to "Zapisz", "#", class: "btn btn-sm btn-primary disabled" %>
            <% end %>
            <% flag = 1 %>
            <% end %>
            <% end %>
          </p>
          <hr>
          <% end %>
          <%= simple_format @screenplay.ending %>
          <hr>
          <% @questions_count = @screenplay.questions.count %>
          <% @answers_count = @call.answers.count %>
          <% @progress = @questions_count > 0 ? @answers_count / @questions_count.to_f * 100 : 0 %>
          <div class="progress">
            <div class="progress-bar" style="width: <%= @progress %>%" role="progressbar" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>
            Postęp: <%= @progress.round(2) %>% (<%= @answers_count %> / <%= @questions_count %>)
          </p>
          <hr>
          <%= simple_form_for(@call) do |f| %>
          <%= f.input :status, label: "Zmień status po zakończeniu czynności", hint: "Nie zapomnij uzupełnić Statusu", collection: ["Uzupełniono wszystkie dane (Sukces)", "Brak zainteresowania ofertą (Porażka)", "Prośba o kontakt później", "Klient nie odebrał"], input_html: { class: "select2" } %>
          <%= f.submit "Zmień status", class: "btn btn-mini btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <%= render 'info' %>
    <%= render 'reminders' %>
    <%= render 'agreements' %>
  </div>
</div>

<!-- Modal Przypomnienie -->
<div class="modal fade" id="newReminderModalCenter" tabindex="-1" role="dialog" aria-labelledby="newReminderModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Dodaj przypomnienie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(@reminder) do |f| %>
      <div class="modal-body">
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :client_id, as: :hidden, input_html: { value: @client.id } %>
        <%= f.input :name, label: "Nazwa przypomnienia" %>
        <%= f.input :body, label: "Treść przypomnienia" %>
        <%= f.input :remind_at, label: "Data przypomnienia" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <%= f.button :submit, "Dodaj", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal Umowa -->
<div class="modal fade" id="newAgreementModalCenter" tabindex="-1" role="dialog" aria-labelledby="newAgreementModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Dodaj umowę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(@agreement) do |f| %>
      <div class="modal-body">
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :client_id, as: :hidden, input_html: { value: @client.id } %>
        <%= f.association :partner %>
        <%= f.association :call, label: "Rozmowa" %>
        <%= f.input :name, label: "Numer umowy" %>
        <%= f.input :body, label: "Uwagi" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <%= f.button :submit, "Dodaj", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal Info -->
<div class="modal fade" id="editInfoModalCenter" tabindex="-1" role="dialog" aria-labelledby="editInfoModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edytuj info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(@client) do |f| %>
      <div class="modal-body">
        <%= f.input :imie %>
        <%= f.input :nazwisko %>
        <%= f.input :numer_telefonu %>
        <%= f.input :email %>
        <%= f.input :miasto %>
        <%= f.input :kod %>
        <%= f.input :adres %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <%= f.button :submit, "Dodaj", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
