<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Baza klientów</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= clients_path %>">Baza klientów</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Nowy klient</strong>
      </li>
    </ol>
  </div>
</div>

<%= flash_messages %>

<div class="ibox">
  <div class="ibox-title">
    <h3>Nowy klient</h3>
    <div class="ibox-tools">
      <%= link_to clients_path, class: "btn btn-sm btn-primary" do %>
        Anuluj
      <% end %>
    </div>
  </div>
  <div class="ibox-content">
    <%= render 'form' %>
  </div>
</div>

<%= content_for :searchbar do %>

<% end %>
