<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Klient</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= clients_path %>">Baza klientów</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Klient</strong>
      </li>
    </ol>
  </div>
</div>

<%= flash_messages %>

<div class="row">
  <div class="col-lg-8">
    <div class="ibox">
      <div class="ibox-title">
        <h3>Narzędzia</h3>
        <div class="ibox-tools">
        </div>
      </div>
      <div class="ibox-content">
        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#newCallModalCenter">
          <i class="fa fa-phone"></i> Rozpocznij rozmowę
        </button>
        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#editInfoModalCenter">
          <i class="fa fa-edit"></i> Edytuj informacje
        </button>
        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#newReminderModalCenter">
          <i class="fa fa-calendar"></i> Dodaj przypomnienie
        </button>
        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#newAgreementModalCenter">
          <i class="fa fa-money"></i> Dodaj umowę
        </button>
      </div>
    </div>
    <%= render 'timeline' %>
  </div>
  <div class="col-lg-4">
    <%= render 'info' %>
    <%= render 'reminders' %>
    <%= render 'agreements' %>
  </div>
</div>

<!-- Modal Rozmowa -->
<div class="modal fade" id="newCallModalCenter" tabindex="-1" role="dialog" aria-labelledby="newCallModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Rozpocznij rozmowę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(@call) do |f| %>
      <div class="modal-body">
        <%= f.input :client_id, as: :hidden, input_html: { value: @client.id} %>
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id} %>
        <%= f.association :screenplay, label: "Scenariusz" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <%= f.button :submit, "Dodaj", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal Przypomnienie -->
<div class="modal fade" id="newReminderModalCenter" tabindex="-1" role="dialog" aria-labelledby="newReminderModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Dodaj przypomnienie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(@reminder) do |f| %>
      <div class="modal-body">
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :client_id, as: :hidden, input_html: { value: @client.id } %>
        <%= f.input :name, label: "Nazwa przypomnienia" %>
        <%= f.input :body, label: "Treść przypomnienia" %>
        <%= f.input :remind_at, label: "Data przypomnienia" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <%= f.button :submit, "Dodaj", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal Umowa -->
<div class="modal fade" id="newAgreementModalCenter" tabindex="-1" role="dialog" aria-labelledby="newAgreementModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Dodaj umowę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(@agreement) do |f| %>
      <div class="modal-body">
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :client_id, as: :hidden, input_html: { value: @client.id } %>
        <%= f.association :partner %>
        <%= f.association :call, label: "Rozmowa" %>
        <%= f.input :name, label: "Numer umowy" %>
        <%= f.input :body, label: "Uwagi" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <%= f.button :submit, "Dodaj", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal Info -->
<div class="modal fade" id="editInfoModalCenter" tabindex="-1" role="dialog" aria-labelledby="editInfoModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edytuj info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(@client) do |f| %>
      <div class="modal-body">
        <%= f.input :imie %>
        <%= f.input :nazwisko %>
        <%= f.input :numer_telefonu %>
        <%= f.input :email %>
        <%= f.input :miasto %>
        <%= f.input :kod %>
        <%= f.input :adres %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <%= f.button :submit, "Dodaj", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :searchbar do %>

<% end %>
