<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Klient</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= clients_path %>">Baza klientów</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Klient</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <div class="ibox">
      <div class="ibox-title">
        <h3>Narzędzia</h3>
        <div class="ibox-tools">
        </div>
      </div>
      <div class="ibox-content">
        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#newModalCenter">
          Rozpocznij rozmowę
        </button>
        <%= link_to "Wyślij email", "#", class: "btn btn-lg btn-primary" %>
        <%= link_to "Dodaj przypomnienie", "#", class: "btn btn-lg btn-primary" %>
      </div>
    </div>
    <div class="ibox">
      <div class="ibox-title">
        <h3>Historia</h3>
        <div class="ibox-tools">
        </div>
      </div>
      <div class="ibox-content">
        <div id="vertical-timeline" class="vertical-container dark-timeline">
          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-briefcase"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>Meeting</h2>
              <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
              </p>
              <a href="#" class="btn btn-sm btn-primary"> More info</a>
              <span class="vertical-date">
                Today <br>
                <small>Dec 24</small>
              </span>
            </div>
          </div>

          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon blue-bg">
              <i class="fa fa-file-text"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>Send documents to Mike</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
              <a href="#" class="btn btn-sm btn-success"> Download document </a>
              <span class="vertical-date">
                Today <br>
                <small>Dec 24</small>
              </span>
            </div>
          </div>

          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon lazur-bg">
              <i class="fa fa-coffee"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>Coffee Break</h2>
              <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
              <a href="#" class="btn btn-sm btn-info">Read more</a>
              <span class="vertical-date"> Yesterday <br><small>Dec 23</small></span>
            </div>
          </div>

          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon yellow-bg">
              <i class="fa fa-phone"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>Phone with Jeronimo</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
              <span class="vertical-date">Yesterday <br><small>Dec 23</small></span>
            </div>
          </div>

          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon lazur-bg">
              <i class="fa fa-user-md"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>Go to the doctor dr Smith</h2>
              <p>Find some issue and go to doctor. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
              <span class="vertical-date">Yesterday <br><small>Dec 23</small></span>
            </div>
          </div>

          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-comments"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>Chat with Monica and Sandra</h2>
              <p>Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
              <span class="vertical-date">Yesterday <br><small>Dec 23</small></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="ibox">
      <div class="ibox-title">
        <h3>Klient</h3>
        <div class="ibox-tools">
          <%= link_to clients_path, class: "btn btn-sm btn-primary" do %>
          Wróć
          <% end %>
          <%= link_to edit_client_path(@client), class: "btn btn-sm btn-primary" do %>
          Edytuj
          <% end %>
        </div>
      </div>
      <div class="ibox-content">
        <p>
          <strong>Imie:</strong>
          <%= @client.imie %>
        </p>

        <p>
          <strong>Nazwisko:</strong>
          <%= @client.nazwisko %>
        </p>

        <p>
          <strong>Numer telefonu:</strong>
          <%= @client.numer_telefonu %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @client.email %>
        </p>

        <p>
          <strong>Miasto:</strong>
          <%= @client.miasto %>
        </p>

        <p>
          <strong>Kod:</strong>
          <%= @client.kod %>
        </p>

        <p>
          <strong>Adres:</strong>
          <%= @client.adres %>
        </p>
      </div>
    </div>
    <div class="ibox">
      <div class="ibox-title">
        <h3>Umowy</h3>
        <div class="ibox-tools">
          Narzędzia
        </div>
      </div>
      <div class="ibox-content">
        Umowy
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newModalCenter" tabindex="-1" role="dialog" aria-labelledby="newModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Rozpocznij rozmowę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(@call) do |f| %>
      <div class="modal-body">
        <%= f.input :client_id, as: :hidden, input_html: { value: @client.id} %>
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id} %>
        <%= f.association :screenplay, label: "Scenariusz" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <%= f.button :submit, "Dodaj", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>





<%= content_for :searchbar do %>

<% end %>
