<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Strona Główna</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <strong>Strona Główna</strong>
      </li>
    </ol>
  </div>
</div>

<%= flash_messages %>

<div class="ibox">
  <div class="ibox-title">
    <h3>Podsumowanie</h3>
    <div class="ibox-tools">

    </div>
  </div>
  <div class="ibox-content">
    <p>
      <strong>Liczba klientów</strong>
      <%= @clients_count %>
    </p>
    <p>
      <strong>Liczba partnerów</strong>
      <%= @partners_count %>
    </p>
    <p>
      <strong>Liczba scenariuszy</strong>
      <%= @screenplays_count %>
    </p>
    <p>
      <strong>Liczba umów</strong>
      <%= @agreements_count %>
    </p>
    <p>
      <strong>Liczba rozmów</strong>
      <%= @calls_count %>
    </p>
    <p>
      <strong>Liczba przypomnień</strong>
      <%= @reminders_count %>
    </p>
    <p>
      <strong>Liczba zdarzeń</strong>
      <%= @events_count %>
    </p>
    <p>
      <strong>Liczba użytkowników</strong>
      <%= @users_count %>
    </p>
  </div>
</div>

<%= content_for :searchbar do %>

<% end %>
