<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nazwa wydarzenia</th>
      <th>Użytkownik</th>
      <th>Klient</th>
      <th width="200"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td><%= link_to "##{event.id}", event %></td>
      <td><%= link_to event.name, event %></td>
      <td><%= link_to event.user.name, event.user %></td>
      <td><%= link_to event.client.name, event.client %></td>
      <td>
        <%= link_to 'Pokaż', event, class: "btn btn-sm btn-primary" %>
        <%= link_to 'Edytuj', edit_event_path(event), class: "btn btn-sm btn-warning" %>
        <%= link_to 'Usuń', event, method: :delete, data: { confirm: 'Czy na pewno usunąć?' }, class: "btn btn-sm btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
