<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Numer Umowy</th>
      <th>Użytkownik</th>
      <th>Klient</th>
      <th>Partner</th>
      <th>Rozmowa</th>
      <th width="200"></th>
    </tr>
  </thead>

  <tbody>
    <% @agreements.each do |agreement| %>
    <tr>
      <td><%= link_to "##{agreement.id}", agreement %></td>
      <td><%= link_to agreement.name, agreement %></td>
      <td><%= link_to agreement.user.email, agreement.user %></td>
      <td><%= link_to "#{agreement.client.nazwisko} #{agreement.client.imie}", agreement.client %></td>
      <td><%= link_to agreement.partner.name, agreement.partner %></td>
      <td><%= link_to agreement.call.name, agreement.call %></td>
      <td>
        <%= link_to 'Pokaż', agreement, class: "btn btn-sm btn-primary" %>
        <%= link_to 'Edytuj', edit_agreement_path(agreement), class: "btn btn-sm btn-warning" %>
        <%= link_to 'Usuń', agreement, method: :delete, data: { confirm: 'Czy na pewno usunąć?' }, class: "btn btn-sm btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @agreements %>
