<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Baza umów</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Baza umów</strong>
      </li>
    </ol>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Baza umów</h3>
    <div class="ibox-tools">
      <%= link_to new_agreement_path, class: "btn btn-sm btn-primary" do %>
        <i class="fa fa-plus"></i> Dodaj umowę
      <% end %>
    </div>
  </div>
  <div class="ibox-content">
    <%= render 'agreements' %>
  </div>
</div>

<%= content_for :searchbar do %>
  <%= search_form_for @q, class: "navbar-form-custom" do |f| %>
    <div class="form-group">
        <%= f.search_field :name_or_body_cont, placeholder: "Wyszukaj umowę", id: "top-search", class: "form-control" %>
    </div>
  <% end %>
<% end %>
