<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agreement.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @agreement.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @agreement.user_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @agreement.client_id %>
</p>

<p>
  <strong>Partner:</strong>
  <%= @agreement.partner_id %>
</p>

<p>
  <strong>Rozmowa:</strong>
  <%= @agreement.call_id %>
</p>

<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
