<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Umowa</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= agreements_path %>">Baza umów</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Umowa: <%= @agreement.name %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h3>Informacje</h3>
        <div class="ibox-tools">
          <%= link_to edit_agreement_path(@agreement), class: "btn btn-primary" do %>
            <i class="fa fa-edit"></i> Edytuj
          <% end %>
        </div>
      </div>
      <div class="ibox-content">
        <p>
          <strong>Numer umowty:</strong>
          <%= @agreement.name %>
        </p>

        <p>
          <strong>Uwagi:</strong>
          <%= @agreement.body %>
        </p>

        <p>
          <strong>Użytkownik:</strong>
          <%= link_to @agreement.user.email, @agreement.user %>
        </p>

        <p>
          <strong>Klient:</strong>
          <%= link_to @agreement.client.name, @agreement.client %>
        </p>

        <p>
          <strong>Partner:</strong>
          <%= link_to @agreement.partner.name, @agreement.partner %>
        </p>

        <p>
          <strong>Rozmowa:</strong>
          <%= link_to @agreement.call.name, @agreement.call %>
        </p>
      </div>
    </div>
  </div>
</div>
